* {
	margin:0 ;
	padding:0;
	box-sizing: border-box;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
	height: 100vh;
	display:flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
	font-family: sans-serif;
	color: white; 
}


.location, .temperature {
	
	width: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.temperature {
	flex-direction: column;
}

h1 {
	font-size: 80px;
}

.degree-section {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.degree-section span {
	margin-left: 10px;
	font-size: 60px;
}

.degree-section h2 {
	font-size: 70px;
}

.temperature-description{
	margin-top: 25px;
}

.temperature-description p {
	font-size: 20px;
	text-align: center;
}


